.top-ceomessage img {
    /*    padding: 25px 0px;*/
    padding-top: calc(10px + (25 - 10) * ((100vw - 1280px) / (1920 - 1280)));
    padding-bottom: calc(10px + (25 - 10) * ((100vw - 1280px) / (1920 - 1280)));
    max-width: 300px;
}

.top-ceomessage p span {
    font-weight: 600;
}

section.aboutus-whatwedo {
    position: relative;
    /*    padding-top: 70px;*/
    padding-top: calc(10px + (70 - 10) * ((100vw - 1280px) / (1920 - 1280)));
}

.whatwedo-image img {
    border-radius: 10px;
    width: 100%;
}

.faded-background-whatwedo {
    background-color: #f5f5f5;
    width: 60%;
    height: 57%;
    position: absolute;
    right: 0;
    bottom: 50px;
}

.whatwedo-content {
    padding-bottom: 80px;
    padding-bottom: calc(10px + (80 - 10) * ((100vw - 320px) / (1920 - 320)));
}

.aboutus-ourmission {
    position: relative;
    padding-top: calc(20px + (100 - 20) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(20px + (100 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.ourmission-content ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.ourmission-content ul li {
    margin-right: 10px;
}

section.aboutus-safety {
    position: relative;
}

.faded-background-safety {
    position: absolute;
    background-color: #f5f5f5;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
}

.safety-content {
    margin-right: 280px;
    margin-left: 70px;
}

.sustain-content {
    margin-left: 280px;
    margin-right: 70px;
}

.redfamily-box {
    position: relative;
}

.redfamily-teamname {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)), to(rgba(255, 0, 0, 0)));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 1), rgba(255, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 0, 0, 0));
    z-index: 1;
    padding: 15px 0px 15px 50px;
}

.redfamily-teamname h6 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}

.redfamily-teamname small {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 0;
}

section.aboutus-redfamily {
    padding-top: calc(30px + (50 - 30) * ((100vw - 1280px) / (1920 - 1280)));
    padding-bottom: calc(70px + (100 - 70) * ((100vw - 1280px) / (1920 - 1280)));
}

.redfamily-teamimage {
    padding-top: 20px;
}






/*Media Query*/



/*Large devices (desktops, less than 1700px)*/
@media(max-width:1700px) {


    .fade_background {
        width: 70%;
    }

    .safety-content {
        margin-right: 260px;
    }

    .sustain-content {
        margin-left: 260px;
    }

}

/*Large devices (desktops, less than 1600px)*/
@media(max-width:1620px) {


    .fade_background {
        width: 71%;
    }

    .safety-content {
        margin-right: 210px;
    }

    .sustain-content {
        margin-left: 210px;
    }

}

/*Large devices (desktops, less than 1500px)*/
@media(max-width:1550px) {
    .fade_background {
        width: 73%;
    }

    .safety-content {
        margin-right: 185px;
    }

    .sustain-content {
        margin-left: 185px;
    }
}

/*Large devices (desktops, less than 1400px)*/
@media(max-width:1450px) {
    .fade_background {
        width: 73%;
    }


    .safety-content {
        margin-right: 140px;
    }

    .sustain-content {
        margin-left: 140px;
    }
}

/*Large devices (desktops, less than 1380px)*/
@media(max-width:1380px) {
    .sustain-content {
        margin-left: 100px;
    }

    .safety-content {
        margin-right: 100px;
    }

}

/*Large devices (desktops, less than 1300px)*/
@media(max-width:1300px) {
    .fade_background {
        width: 76%;
    }

    .sustain-content {
        margin-left: 55px;
    }

    .safety-content {
        margin-right: 55px;
    }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    .safety-content {
        margin-right: 25px;
        margin-left: 40px;
    }

    .sustain-content {
        margin-left: 40px;
        margin-right: 25px;
    }

    .safety-content a.redbutton,
    .sustain-content a.redbutton {
        margin-top: 5px;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .faded-background-whatwedo {
        height: 45%;
    }

    .safety-content {
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .sustain-content {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .redfamily-teamname {
        padding: 10px 0px 10px 20px;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .safety-content {
        margin-right: 22px;
        margin-left: 22px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .sustain-content {
        margin-left: 22px;
        margin-right: 22px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .redfamily-teamname h6 {
        font-size: 15px;
        margin-bottom: 2px;
    }

    .redfamily-teamname {
        padding: 10px 0px 10px 10px;
    }

    .redfamily-teamname small {
        font-size: 14px;
    }

    .faded-background-whatwedo {
        height: 30%;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .safety-content {
        margin-left: 0px;
        margin-right: 0px;
    }

    .sustain-content {
        margin-left: 0px;
        margin-right: 0px;
    }

    .faded-background-whatwedo {
        height: 30%;
        bottom: 20px;
    }

    .redfamily-box {
        margin-bottom: 30px;
    }

    .top-ceomessage h5 {
        font-size: 16px;
    }

    .faded-background-whatwedo {
        height: 25%;
    }
}

@media (max-width: 375.98px) {
    .faded-background-whatwedo {
        height: 18%;
    }
}
