section.blog_featured {
    padding-bottom: 80px;
}

.blog_content {
    padding-top: 30px;
}

.blog_content h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.blog-box p {
    color: rgb(0 0 0 / .3);
    font-size: 16px;
}

.blog_content .redbutton {
    margin-top: 10px;
}

.sgle_blogcont p,
.sgleblog_img {
    margin-bottom: 40px;
}

.sgleblog_img img {
    width: 100%;
}

.sgleblog_img {
    height: calc(120px + (430 - 120) * ((100vw - 320px) / (1920 - 320)));
    height: 540px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

section.recent_blog {
    background-color: #FAFAFC;
    padding: 70px 0px;
}

.recent_blog_content p {
    color: rgb(0 0 0 / .3);
    font-size: 16px;
}

.pagination_box nav .pagination {
    justify-content: center;
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    section.blog_featured {
        min-height: 920px;
    }

    .blog_content a.redbutton {
        margin-top: 5px;
    }

    .sgleblog_img{height: auto;}
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    section.blog_featured {
        min-height: 810px;
    }
}

@media (max-width: 770.98px) {
    section.blog_featured {
        min-height: auto;
    }
}

@media (max-width:767.98px) {
    section.blog_featured {
        padding-bottom: 0;
    }

    .sgle_blogcont p,
    .sgleblog_img {
        margin-bottom: 20px;
    }

    section.recent_blog {
        padding: 40px 0px;
    }
}
