.contact-gitcont {
    position: relative;
    margin-top: 20px;
}

.faded-background-getintouch {
    position: absolute;
    background-color: #f5f5f5;
    height: 100%;
    width: 15%;
    right: 0;
    top: 0;
}

.faded-background-sendmessage {
    position: absolute;
    background-color: #f5f5f5;
    height: 400px;
    width: 20%;
    left: 0;
    top: 150px;
}

.sendmessage-imgleft img {
    max-width: 120%;
    margin-left: -35%;
    margin-top: 140px;
}

section.contact-sendmessage {
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
}

.git-addemil p {
    margin-bottom: 0;
}


.git-addemil {
    margin-top: 35px;
}

.contlistimg {
    margin-bottom: 30px;
}

.contlistimg img {
    padding: 20px;
    background-color: #f20105;
    /*    width: 85px;*/
    width: calc(70px + (85 - 70) * ((100vw - 1280px) / (1920 - 1280)));
    border-radius: 50%;
    -webkit-box-shadow: 0px 18px 50px -25px #f20105;
    box-shadow: 0px 18px 50px -25px #f20105;
}

.getIntouch-contlist a {
    font-size: 18px;
}

#timeselect,
#hour,
#minute {
    width: 33%;
    margin: 0px 5px;
}

select#hour {
    margin-left: 0;
}

#timeselect {
    margin-right: 0px;
}

.contact-map {
    width: 100%;
    height: calc(600px + (800 - 600) * ((100vw - 1280px) / (1920 - 1280)));
    /*    height: 600px;*/
}



/* Hide the browser's default checkbox */
.form-check-inline input {
    opacity: 0;
    z-index: 1;
    width: 25px;
    height: 25px;

}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f2f3f5;
}

/* On mouse-over, add a grey background color */
.form-check-inline:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.form-check-inline input:checked ~ .checkmark {
    background-color: #f20105;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.form-check-inline input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.form-check-inline .checkmark:after {
    left: 8px;
    top: 3px;
    width: 8px;
    height: 15px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}






label.submit__control {
    display: flex;
    align-items: center;
}

.submit__generated1 {
    display: inline-block;
}

.submit__generated1 input {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #F2F3F5;
    background-color: #F2F3F5;
    line-height: 45px;
}

.submit__generated1.valid:after,
.submit__generated1.unvalid:after {
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    margin-left: 10px;
    font-weight: 900;
}

.submit__generated1.valid:after {
    content: "\f058";
    color: #2ecc71;
}

.submit__generated1.valid .submit__input {
    border: 1px solid #2ecc71;
    color: #2ecc71 !important;
}

.submit__generated1.unvalid:after {
    content: "\f00d";
    color: #e74c3c;

}

.submit__generated1.unvalid .submit__input {
    border: 1px solid #e74c3c;
    color: #e74c3c;
}

.submit__generated1 .submit__input {
    position: relative;
    outline: 0;
    height: 50px;
    width: 50px;
    border: 1px solid #f2f3f5;
    color: #42a0dd;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background-color: #f2f3f5;
}

i.fa-sync {
    margin: 0px 0 0px 15px;
    padding: 5px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out, color 0.2s ease-out;
    transition: transform 0.2s ease-out, color 0.2s ease-out;
    transition: transform 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

i.fa-sync:hover {
    color: rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

span.submit__error,
span.submit__error--empty {
    color: #e74c3c;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
}

.low-opa {
    opacity: 0.4;
}

.fadeOut {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

.fadeIn {
    opacity: 1 !important;
    -webkit-transform: translateY(0px) !important;
    -ms-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
}

.form-fields,
.form-success {
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.form-success {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    margin-top: 20px;
}


section.cont-map iframe {
    width: 100%;
    height: calc(300px + (600 - 300) * ((100vw - 320px) / (1920 - 320)));
    /*    height: 600px;*/
}

.contact-form .form-group label.error {
    position: absolute;
    font-size: 12px;
    color: #f2010b;
    display: block;
    bottom: -25px;

}


/*Large devices (desktops, less than 1600px)*/
@media(max-width:1620px) {
    .sendmessage-imgleft img {
        max-width: 110%;
        margin-left: -25%;
    }

    .faded-background-getintouch {
        width: 10%;
    }
}

@media(max-width:1380px) {
    .sendmessage-imgleft img {
        max-width: 105%;
        margin-left: -20%;
    }

    .faded-background-getintouch {
        width: 7%;
    }
}

@media(max-width:1300px) {
    .sendmessage-imgleft img {
        max-width: 100%;
        margin-left: -5%;
    }
}

@media(max-width:991px) {
    .faded-background-getintouch {
        display: none;
    }

    .getIntouch-contlist a {
        font-size: 16px;
    }

    .git-addemil {
        margin-top: 0px;
    }
}

@media(max-width:767px) {
    .sendmessage-imgleft img {
        margin-top: 0;
        margin-left: 0;
    }

    .getIntouch-contlist a br {
        display: none;
    }

    .contlistimg {
        margin-bottom: 15px;
    }

    .contlistimg img {
        padding: 10px;
    }

    .faded-background-sendmessage {
        display: none;
    }
}
