/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url(bootstrap.min.css);
@import url(all.css);
@import url(animate.css);
@import url(slick.css);
@import url(jquery.mCustomScrollbar.css);
@import url(home-style.css);
@import url(about.css);
@import url(safety-sustain.css);
@import url(service.css);
@import url(red-drivers.css);
@import url(blog.css);
@import url(contact.css);

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/roboto-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('../webfonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../webfonts/roboto-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../webfonts/roboto-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../webfonts/roboto-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../webfonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../webfonts/roboto-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../webfonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../webfonts/roboto-v20-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../webfonts/roboto-v20-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../webfonts/roboto-v20-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../webfonts/roboto-v20-latin-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../webfonts/roboto-v20-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../webfonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../webfonts/roboto-v20-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../webfonts/roboto-v20-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../webfonts/roboto-v20-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../webfonts/roboto-v20-latin-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../webfonts/roboto-v20-latin-900.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../webfonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../webfonts/roboto-v20-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../webfonts/roboto-v20-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../webfonts/roboto-v20-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../webfonts/roboto-v20-latin-900.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* anton-regular - latin */
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/anton-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Anton Regular'), local('Anton-Regular'),
        url('../webfonts/anton-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../webfonts/anton-v11-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../webfonts/anton-v11-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../webfonts/anton-v11-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../webfonts/anton-v11-latin-regular.svg#Anton') format('svg');
    /* Legacy iOS */
}







/*Common css*/

* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Roboto';
    color: #000;
}

button:focus {
    outline: none;
    border: none;
}

input:focus {
    outline: none;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

li,
label {
    font-size: 18px;
}

a {
    color: #000;
}

a:focus {
    outline: none;
    border: 0px;
}

a:hover {
    text-decoration: none;
    color: #f20105;
}

h1,
h2,
h3 {
    font-family: 'Anton';
    color: #000;
}

li,
p {
    /*    font-size: 18px;*/
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(26px + (30 - 26) * ((100vw - 320px) / (1920 - 320)));
}

select:required:invalid {
    color: rgb(0 0 0 / .3);
}

textarea {
    resize: none;
}

.page-link {
    padding: 12px 20px;
    color: #000;
    border: 1px solid #000;
    font-size: 20px;
}

.page-item.active .page-link {
    background-color: #000;
    border: 1px solid #000;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-link:focus {
    box-shadow: none;
    border: 1px solid #000;
}

.page-link:hover {
    z-index: 2;
    color: #000000;
    text-decoration: none;
    background-color: #f1f1f1;
    border-color: #000000;
}

.navbar-toggler {
    background-color: #ffffff;
    border: 1px solid #fff;
}

.sub_heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
    /*    font-size: 24px;*/
    font-family: 'Roboto';
}

.left-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    /*    font-size: 56px;*/
    font-size: calc(46px + (56 - 46) * ((100vw - 1280px) / (1920 - 1280)));
    /*    margin-bottom: 30px;*/
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 1280px) / (1920 - 1280)));
}

.left-title:before {
    position: absolute;
    width: 80px;
    height: 10px;
    background-color: #f20003;
    content: "";
    left: 100%;
    top: 40%;
    margin-left: 20px;
    color: #000;
}

.redbutton {
    color: #fff;
    background-color: #f20003;
    padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    padding-left: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
    /*    padding: 18px 50px;*/
    text-transform: uppercase;
    text-align: left;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    display: inline-block;
    border-radius: 0px;
    margin-top: calc(30px + (40 - 30) * ((100vw - 1280px) / (1920 - 1280)));
    /*    margin-top: 40px;*/
    position: relative;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.redbutton:hover {
    color: #fff;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0px 18px 50px -25px #f20105;
    box-shadow: 0px 18px 50px -25px #f20105;
}

.redbtn_arrow:after {
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 10px;
}

.container-fluid {
    max-width: 1740px;
}

.form-control {
    background-color: #F2F3F5;
    border-color: #F2F3F5;
    border-radius: 0;
    /*    height: 60px;*/
    height: calc(45px + (60 - 45) * ((100vw - 320px) / (1920 - 320)));
    font-size: 18px;
}

.form-control::-webkit-input-placeholder {
    color: rgb(0 0 0 / .3);
}

.form-control::-moz-placeholder {
    color: rgb(0 0 0 / .3);
}

.form-control:-ms-input-placeholder {
    color: rgb(0 0 0 / .3);
}

.form-control::-ms-input-placeholder {
    color: rgb(0 0 0 / .3);
}

.form-control::placeholder {
    color: rgb(0 0 0 / .3);
}

.form-control:focus {
    border-color: #f20105;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group {
    margin-bottom: 2rem;
    font-size: 18px;
    position: relative;
}

.form-check-inline .form-check-input {
    margin-right: 1rem;
}

.dropdown-item.active {
    color: #f20108;
    background-color: #fff;
}

.safety-top,
.aboutus-ceomessage,
.contact-getintouch,
.sustainability-top,
.drivewithred-content,
.service-page,
.blog_featured,
.single_blog {
    /*    padding-top: 70px;*/
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
}






/*Top Banner*/
section.webpage_banner {
    min-height: calc(150px + (486 - 150) * ((100vw - 320px) / (1920 - 320)));
    /*    min-height: 486px;*/
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.webbanner-content {
    margin-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
    /*    margin-top: 100px;*/
}

.banner_breadcrumb li {
    display: inline;
    color: #f20105;
    font-size: 16px;
}

.banner_breadcrumb li + li:before {
    content: "\f054";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding: 0px 5px 0px 2px;
    color: #fff;
    font-size: 12px;
}

.banner_breadcrumb li a {
    color: #fff;
    font-size: 16px;
}

.topbanner-head {
    color: #fff;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 0px 20px;
    font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));
    /*    font-size: 20px;*/
}

/*End Top Banner*/




/*Header*/
.navbar-brand {
    max-width: 100px;
}

.darkHeader {
    background-color: #000;
}

.darkHeader .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

header .navbar {
    padding: 0px 20px 0px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

header .navbar ul.navbar-nav {
    margin-right: 50px;
}

header.redhome_header .navbar ul .nav-item .nav-link {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 0px;
    margin-right: 50px;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

header.redhome_header .navbar ul .nav-item:hover .nav-link,
header.redhome_header .navbar ul .nav-item.active .nav-link {
    color: #f20105;
}


header.redhome_header .navbar ul .nav-item:last-child .nav-link {
    margin-right: 0;
}

header .dropdown-menu-cus {
    padding: 0px;
    margin-top: 0;
    z-index: 1;
    display: none;
    position: absolute;
}

header .dropdown-item {
    background-color: #ffffff;
    color: #000;
    text-transform: uppercase;
    padding: 10px 60px 10px 20px;
    border: 1px solid #f5f5f5;
    border-top: 0px;
    font-size: 16px;
}



header.redhome_header .navbar ul .nav-item .dropdown-menu-cus:before {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 11px;
    top: -11px;
    content: "";
    left: 0px;
    position: absolute;
    z-index: -1;
}

header.redhome_header .navbar ul .nav-item:hover .dropdown-menu-cus {
    display: block;
}

header.redhome_header .dropdown-item:focus,
header.redhome_header .dropdown-item:hover {
    color: #f20105;
    text-decoration: none;
    background-color: #fff;
}

.client-login a {
    background-color: #f20102;
    padding: 15px 25px;
    color: #fff;
    text-transform: uppercase;
}




/*Footer*/
.footer_top {
    background-color: #000;
    padding: 55px 20px 25px;
}

.footer_bottom {
    background-color: #0a0a0a;
    padding: 10px 20px;
}

.footer_menu ul,
.footer_social ul {
   display: block;
}

.footer_menu ul li,
.footer_social ul li {
    margin-right: 30px;
}

.footer_logo a {
    display: inline-block;
    max-width: 100px;
}

.footer_menu ul li:last-child,
.footer_social ul li:last-child {
    margin-right: 0px;
}

.footer_social ul li a {
    color: #a0a0a0;
}

.footer_social ul li a:hover{color:#eae9e9;}

.footer_top a,
.footer_bottom a {
    color: #a0a0a0;
    font-size: 14px;
}

.footer_top a{color: #fff;}

.footer_copyright p {
    margin-bottom: 0;
    color:#a0a0a0;
    font-size: 14px;
}


.footer_top h4{color: #eae9e9; font-weight: 400; font-size: 20px;margin-bottom: 15px;}

.footer_top .footer_menu address p{margin-bottom: 8px; line-height: 22px;}
.footer_top .footer_menu address p a{color:#a0a0a0;}
.footer_top .footer_menu address p:hover a{color: #fff;}
.footer_top .footer_menu address p:hover b{color: #fff;}
.footer_top .footer_menu address p:last-child{margin-bottom: 0;}
.footer_menu address b{color: #a0a0a0; display:inline-block; font-weight: 400; margin-right: 4px;}


.back-top{position: fixed;
    bottom: 25px;
    right: 20px;
    text-align: center;
    z-index: 3;
}

.back-top a {
    font-size: 26px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transition: all 0.3s linear;
    background-color: #f20003;
    line-height: 39px;
    color: #fff;
    display: inline-block;
}


.back-top a:hover {
    background-color: transparent;
    color: #f20003;
    box-shadow: 0px 0px 20px #00000036;
}

.form-group.col-md-12.col-lg-6.d-flex.align-items-center select#best_time_minute {
    margin: 0 5px 0px 2px;
}

.flash_message.alert.alert-success.alert-block {
    transition: 0s !important;
}


/*----- 404 page -----*/
.error-page{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;
flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center;
align-items: center; -webkit-box-pack: center;  
justify-content: center; height: 100vh; text-align:center;}
  
.hgroup h1{font-size:250px; line-height:230px;}
.hgroup h1 .fs01{color:#ff0000;display:inline-block; margin:0 12px;}
.hgroup h1 .fs02{position:relative; display:inline-block; -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);}
.hgroup h3{font-size:55px; font-family: 'Roboto'; text-transform: uppercase; font-weight: bold;
  margin: 15px 0 0 0; line-height:1;}
  
.error-page{position:relative;}
.error-page:before ,.error-page:after{content:''; position:absolute; width:585px; height:500px;
  background-repeat:no-repeat; z-index:-1;}
  
.error-page:before{background-image:url('https://clientapp.brandmydream.com/red_trucking/images/frontend/right-strip.png');right:0; top:0;}
.error-page:after{background-image:url('https://clientapp.brandmydream.com/red_trucking/images/frontend/left-strip.png'); left:0; bottom:0;}
  
.error-page p{color: #000; font-size:18px;}
.site-btn{background-color: #f20003; color: #fff;padding: 12px 30px; margin-top:30px; display: inline-block;}
.site-btn img{margin-right:15px;}
.site-btn:hover{color:#fff;}
  
/*----- Thank you -----*/
.thank-you-con {display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;height: 100vh;}
.thank-you-page{text-align: center;}
.thank-you-page h1{text-transform: uppercase; font-size: 250px; margin-top: 30px;}
.thank-you-page h1 .thx01 ,.thank-you-page h1 .thx02{position: relative;}
.thank-you-page h1 .thx01::before,.thank-you-page h1 .thx02::before,
.thank-you-page h1 .thx01::after{content: ''; position: absolute; width:180px; height: 52px;
background-repeat: no-repeat; background-size: 100%;}

.thank-you-page h1 .thx01::before{background-image:url('https://clientapp.brandmydream.com/red_trucking/images/frontend/thx-img.png'); left: -30px; top: 140px;}
.thank-you-page h1 .thx01::after{background-image:url('https://clientapp.brandmydream.com/red_trucking/images/frontend/thx-img.png');
right: 10px; bottom: 90px;}

.thank-you-page h1 .thx02::before{background-image:url('https://clientapp.brandmydream.com/red_trucking/images/frontend/thx-img.png'); right: 0; top: 140px;}


/*Over ride*/
@media (min-width: 576px) {.container,
.container-sm {
    max-width: 570px;
  }
}

@media (min-width: 768px) {.container,
.container-md,
.container-sm {
    max-width: 750px;
  }

}


@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 990px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1170px;
    }
}



/*Media Query*/



/*Large devices (desktops, less than 1700px)*/
@media(max-width:1700px) {}

/*Large devices (desktops, less than 1600px)*/
@media(max-width:1620px) {}

/*Large devices (desktops, less than 1500px)*/
@media(max-width:1550px) {
    header.redhome_header .navbar ul .nav-item .nav-link {
        margin-right: 35px;
    }
}

/*Large devices (desktops, less than 1400px)*/
@media(max-width:1450px) {}

/*Large devices (desktops, less than 1380px)*/
@media(max-width:1380px) {
    header.redhome_header .navbar ul .nav-item .nav-link {
        margin-right: 30px;
    }

    /*
    header .navbar {
        padding: 15px 20px 0px;
    }
*/
}



/*Large devices (desktops, less than 1300px)*/
@media(max-width:1300px) {
    header.redhome_header .navbar ul .nav-item .nav-link {
        margin-right: 20px;
        font-size: 16px;
    }
}


/*Large devices (desktops, less than 1170px)*/
@media(max-width:1170px) {
    .thank-you-page h1 , .hgroup h1{font-size: 200px; line-height: 190px;}
    .hgroup h3{font-size: 45px;}

    .error-page::before, .error-page::after {width: 400px; height: 270px; background-size: 100%;}
    
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    header.redhome_header .navbar ul .nav-item .nav-link {
        margin-right: 15px;
    }
}


@media (max-width: 1024px) {

    .thank-you-page h1 , .hgroup h1{font-size: 160px; line-height: 145px;}
    .hgroup h3{font-size: 38px;}
    .site-btn img{width: 35px;}

    .thank-you-page h1 .thx01::before, 
    .thank-you-page h1 .thx02::before, 
    .thank-you-page h1 .thx01::after {width: 115px; height: 34px;}

    .thank-you-page h1 .thx01::before {left: -20px; top: 95px;}
    .thank-you-page h1 .thx01::after {right: 10px; bottom: 60px;}
    .thank-you-page h1 .thx02::before {top: 95px;}
    .thank-you-page p{margin-top: 30px;}


}



/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    header .dropdown-menu-cus {
        display: inline;
        position: relative;
    }

    header .dropdown-item {
        background-color: transparent;
        color: #fff;
        border: none;
        font-size: 16px;
        padding-left: calc(50px + (90 - 50) * ((100vw - 320px) / (768 - 320)));
        /*        padding-left: 90px;*/
        padding-bottom: 0px;
    }

    header.redhome_header .navbar ul .nav-item .dropdown-menu-cus:before {
        content: none;
    }


    header.redhome_header .navbar ul .nav-item.dropdown .nav-link:before {
        border-color: #fff transparent transparent transparent;
        border-style: solid;
        border-width: 7px;
        bottom: 4px;
        content: "";
        position: absolute;
        right: -22px;
    }

    header.redhome_header .dropdown-item:focus,
    header.redhome_header .dropdown-item:hover {
        background-color: transparent;
        color: #fff;
    }

    .dropdown-item.active {
        background-color: transparent;
    }



    header .navbar ul.navbar-nav {
        background-color: #000;
        margin-right: 0;
    }

    header .navbar {
        padding: 0px 0px 0px 0px;
    }

    .client-login {
        position: absolute;
        top: 26px;
        right: 100px;
    }

    .client-login a {
        padding: 8px 10px;
    }

    .navbar-brand {
        padding: 0;
    }

    header.redhome_header .navbar ul .nav-item .nav-link {
        margin-right: 0;
        padding-left: 60px;
        padding-bottom: 0px;
    }

    /* header.redhome_header .navbar ul .nav-item .nav-link:focus {
        display: inline;
    } */

    header.redhome_header .navbar ul .nav-item:last-child .nav-link {
        padding-bottom: 20px;
    }

    .footer_menu ul li,
    .footer_social ul li {
        margin-right: 15px;
    }

    .navbar-brand{max-width: 90px;}

    .carousel_cowan{right: 18px;}





}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .webbanner-content {
        margin-top: 0;
    }

    .navbar-brand{max-width: 85px;}
    .client-login{top: 22px;}

    .reddrivepoint-list{padding: 0 10px;}
    .redcarrer-content{padding: 55px 33px; height: auto;}
    .redcarrer-content ul li{margin-bottom: 10px;}

    .redcarrer-form .form-group.offset-xl-1.col-xl-4 {
        position: absolute;
        right: 10px;
        float: right;
        width: auto;
    }

    .saferght-content{margin: 0 0 20px 0 !important;}
    .safeleft-img img, .safety-right img{
        width: 100%;
        margin-bottom: 15px;
    }

    .footer_top .row{display: block; width: 100%; text-align: center;}
    .footer_top .row  [class*="col-"]{width: 100%;}
    .footer_logo a{margin: 10px 0;}
    .footer_top .footer_menu, .footer_top .footer_social{display: block; width: 100%; padding: 3px 0;} 
    .footer_top .footer_menu ul, .footer_top .footer_social ul{display: block;width: 100%; text-align: center;}
    .footer_menu ul li, .footer_social ul li{display:inline-block; text-align: center;}

    .error-page::before, .error-page::after {width: 340px;}
    .thank-you-page h1, .hgroup h1{font-size: 140px; line-height: 139px; }
    .site-btn{margin-top: 13px;}


}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .navbar-toggler {
        font-size: 16px;
        padding: 3px 8px;
    }

    header .navbar {
        padding: 0px 0px 0px 0px;
    }

    a.navbar-brand {
        width: 150px;
        max-width: 60px;
    }

    .client-login {
        top: 14px;
        right: 55px;
    }

    .client-login a {
        padding: 4px 10px;
    }

    header.redhome_header .navbar ul .nav-item .nav-link {
        padding-left: 35px;
    }

    .navbar-brand {
       
    }

    .footer_menu ul,
    .footer_social ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer_copyright {
        text-align: center;
    }

    .thank-you-page h1 .thx01::before, 
    .thank-you-page h1 .thx02::before, 
    .thank-you-page h1 .thx01::after {
        width: 85px; height: 25px;
    }

    .thank-you-page h1 .thx01::before {left: -10px;  top: 65px; }
    .thank-you-page h1 .thx01::after {right: 5px; bottom: 40px; }
    .thank-you-page h1 .thx02::before {top: 65px;}
        


    .thank-you-page h1, .hgroup h1 {font-size: 115px; line-height: 130px; }




}

@media(max-width:480px) {
    .carousel_cowan{right: 10px;}
    .redcarrer-form .form-group.offset-xl-1.col-xl-4 {
    position: static;right: 10px; float: none; width: 100%; text-align: center;}
    .file-uploader input[type="file"]{width: 100%;}
    .file-uploader label{width: 100%;}
    .footer_copyright .float-left , .footer_copyright .float-right{float: none !important; width: 100%; text-align: center;}

}

@media(max-width:365px) {
    .left-title:before {
        width: 50px;
    }

}
